@import "core/reset";
@import "core/variables";
@import "themes/light";
@import "themes/dark";
@import "themes/orange";

.app {
  font: var(--font-m);
  background: var(--app-bg);
  color: var(--text);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
