.app.orange {
  --content-bg: #fff3d6; // цвет фона секций с контентом
  --app-bg: #f0c048; // цвет фона приложения
  --opt-bg: #f2d791; // цвет фона Sidebar и выбранных кнопок
  --text: #1b1311; // цвет основного текста
  --hint: #b8b2a2; // цвет дополнительного цвета / подсказок
  --error: #ff5e5e; // цвет теста или border-color при ошибке или отмены
  --success: #52fa81; // цвет теста или border-color при подтверждении
  --icon: #4875f0; // цвет иконок / ссылок
  --accent: #1d59ff; // цвет теста или border-color при наведении
}
