.app-button {
  color: var(--icon);
  font: var(--font-m);
  padding: 0;
  border: none;
  background: none;

  &:hover {
    color: var(--accent);
  }

  &.contained {
    background: var(--opt-bg);
    border-radius: 34px;
    padding: 6px 16px;
  }

  &.outlined {
    border-radius: 34px;
    border: 2px solid var(--icon);
    padding: 6px 16px;

    &.error {
      border: 2px solid var(--error);
    }

    &.success {
      border: 2px solid var(--success);
    }

    &:hover {
      border: 2px solid var(--accent);
    }
  }

  &.error {
    color: var(--error);
  }

  &.success {
    color: var(--success);
  }

  &.s {
    font: var(--font-s);
  }

  &.l {
    font: var(--font-l);
  }

  &.disabled {
    opacity: 0.5;
  }

  &.block {
    width: 100%;
  }
}
