.app-link {
  font: var(--font-m);
  color: var(--icon);

  &:hover {
    color: var(--accent);
  }

  &.succes {
    color: var(--success);
  }

  &.error {
    color: var(--error);
  }

  &.s {
    font: var(--font-s);
  }

  &.l {
    font: var(--font-l);
  }

  &.disabled {
    opacity: 0.5;
  }
}
